body {
    background-color: #f1e8ca;
    /*TODO: Add stock photo as background image*/
    /*background-image: url("");*/
}

.user-greeting {
    margin-top: 5%;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 50px;
    border-radius: 10px;
    text-align: center;
    color: black;
    text-decoration: none;
    border: 3px solid black;
    background-color: #dd855c;
    padding: 10px;
}

#user-logout {
    margin-left: 30%;
    margin-right: 30%;
    text-decoration: none;
    background-color: black;
    color: white;
    padding: 10px;
    border: 3px solid black;
    border-radius: 5px;
}

.login-container {
    display: block;
    font-family:'Alegreya Sans SC', sans-serif;;
    border: 5px solid black;
    background-color: #99fedc;
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 50px;
    border-radius: 25px;
    margin-top: 100px;
    width: 40%;
    padding: 10px;
}

input {
    width: 300px;
    height: 50px;
    border: 1px solid black;
    padding: 5px;
    background-color: white;
}

input[type=submit] {
    width: 15em;
    height: 2em;
    border-radius: 5px;
    border: 3px solid black;
    background-color: #dd855c;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: bold;
}

#site-header {
    width: 100%;
    font-family:'Alegreya Sans SC', sans-serif;
    font-size: 5em;
    text-align: center;
}

.navbar {
    width: 100%;
    list-style-type: none;
    height: 24px;
    text-align: right;
    background-color: black;
    padding: 0;
    margin: auto;
}
.navbar li {
  display: inline;
  padding: 10px;
}

.navbar a {
  text-decoration: none;
  font-family:'Alegreya Sans SC', sans-serif;
  color: white;
  font-size: 18px;
}

.deck-display {
    margin-top: 5%;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 50px;
    border-radius: 10px;
    text-align: center;
    color: black;
    text-decoration: none;
    border: 3px solid black;
    background-color: #dd855c;
    padding: 10px;
}

.stats-container {
    border: 3px solid black;
    margin-top: 5%;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 50px;
    border-radius: 10px;
    text-align: center;
    color: black;
    text-decoration: none;
    background-color: #dd855c;
    padding: 10px;
}

.stats {
    border: 3px solid black;
    background-color: white;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 5%;
}

.deck-content {
    border: 3px solid black;
    margin-top: 5%;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 50px;
    border-radius: 10px;
    text-align: center;
    color: black;
    text-decoration: none;
    background-color: #dd855c;
    padding: 10px;
}

.card-content {
    border: 3px solid black;
    margin-top: 5%;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 50px;
    border-radius: 10px;
    text-align: center;
    color: black;
    text-decoration: none;
    background-color: #99fedc;
    padding: 10px;
}

.user-links {
    text-align: center;
    color: black;
    text-decoration: none;
    background-color: #dd855c;
    border-radius: 10px;
    border: 3px solid black;
    padding: .5em;
}

.home-sign-up{
    text-align: center;
}






