<h2> We hope you enjoyed playing <%= @deck.category%>!</h2>

Great job! You answered <%=@total_first%> / correctly on the first try!











<h2> Would you like to play again? </h2>


<a href = "/"> No, Thanks! </a>