<div>
  <div class="login-container">
    <h1> Already an existing member?  </h1>
    <form method = "get" action = "/login">
      <input type = "submit" value = "login" />
    </form>
  </div>
</div>

<br>

<div class="login-container">
  <h1 id="signup-welcome">Sign up for our awesome game!</h1>

  <% if @user_exists %>
    <p> The username <%= @user.username %> exists already!  Please choose another!</p>
  <% end %>

  <form method = "post" action = "/sign_up">
    <div>
      <input type = "text" name = "user[username]" placeholder = "Joe Schomoe"/>
    </div>
    <div>
      <input type = "password" name = "user[password]" placeholder = "password"/>
    </div>
    <div>
      <input type = "submit" value = "sign up"/>
    </div>
  </form>
</div>
