<div class="card-content">

<h2>Question:</h2>

<p> <%= @card.question.capitalize %> </p>

<h2>Answer:</h2>

<p> <%= @card.answer.capitalize %>. </p>
<p> Would you like to see the next question? </p>

<div>
<a href = "/round/<%= @round.id %>/cards/<%= @card.id %>"> Next question! </a>
</div>

</div>