<div>
  <% if logged_in?  %>

    <div class="user-greeting">
    <h1>Welcome, <%= session[:user_name] %>! </h1>
    <br>
    </div>

    <% else %>
    <h2 class = "home-sign-up"> Welcome, please <a href = "/sign_up"> sign up </a> to play. </h2>
    <% end %>
</div>


<div id="deck-menu">
  <h1 class="user-greeting">Categories:</h1>
      <% @decks.each do |deck| %>
      <div>
          <p><a class="deck-display" href="/decks/<%=deck.id %>"><%= deck.category %></a></p>
        <br>
      </div>
      <% end %>
</div>
