<div>
  <% if session[:user_id]  %>

    <div class="user-greeting">
    <h1>Welcome back <%= session[:user_name] %>! </h1>
    <br>
    <a id="user-logout" href="/logout" >Log Me Out</a>
    </div>

    <% else %>
    <h2> Welcome, please sign up. </h2>
    <% end %>
</div>


<div id="deck-menu">
  <h1 class="user-greeting">My Decks:</h1>
      <% @decks.each do |deck| %>
          <a class="deck-display" href="/decks/<%=deck.id %>"><%= deck.category %></a>
        <br>
      <% end %>
</div>