<!DOCTYPE html>
<html lang="en">
<head>

  <link href="../public/css/application.css" rel="stylesheet" type="text/css">
</head>
<link href='https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:400,500italic' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
<body>

<header id="site-header">Flashcards for Study</header>
  <nav>
    <ul class="navbar">
      <li><a href="/">Home</a></li>
      <li><a href="/sign_up">Sign Up</a></li>
      <li><a href="/login">Login</a></li>
    </ul>
  </nav>
<div id="content">
  <%= yield %>
</div>
</body>
</html>
